
.JoinPage{
    width: 100vw;
    height: 100vh;
    background-image: url('https://img.freepik.com/premium-vector/social-media-whatssapp-banners_228198-608.jpg?w=2000');
    display: flex;
    background-position: center;
    justify-content: center;
    align-content: center;
}

.JoinContainer{
   
    margin-top: 8vmax;
    margin-left: 5.5vmax;
    position: absolute;
    height: 35vmax;
    width: 40vmax;
    display: flex;
    left: 1px;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-color: rgb(202, 203, 204);
    border-radius: 20px;
}
.JoinContainer> img{
    width: 7vmax;
    height: 7vmax;
    margin-top: 3vmax;
}
.JoinContainer> img:hover{
    transform: scale(1.05);
}
.JoinContainer>h1{
    font-style: italic;
    margin-left: 0px;
    color: rgb(255, 255, 255);
    width: 30vmax;
    text-align: center;
}
body{
    margin: 0%;
    background-color: rgb(39, 38, 38);
}

#JoinInput{
    
    width:15vmax;
    height: 2.5vmax;
    padding: 1vmax;
    border: white;
    outline: white;
    font-size: 1.5vmax;
    margin: 2vmax;
    text-align: center;
    box-sizing: border-box;
}
.JoinBtn{
    width: 7vmax;
    padding: 2%;
    border: none;
    outline: none;
    background-color: rgb(95, 228, 95);
    font-size: 1vmax;
    box-sizing: border-box;
    transition: all 0.3s ;
    cursor: pointer;

}
.JoinBtn:hover{
    background-color: rgb(22, 134, 134);
    border: 1px solid rgb(4, 188, 212);
    
}