.ChatPage{
    /*background-color: rgb(31, 28, 28);*/
    background-image: url("https://wallpaperaccess.com/full/143765.jpg");
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ChatContainer{
    background-color: white;
    height: 90% !important;
    width: 30% !important;

}
.Header{
    /*border:0.02vmax solid rgb(0, 0, 0);*/
    background-color:rgb(135, 238, 39);
    height: 10% !important;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.Header>h2{
    margin: 3vmax;
}
.Header img{
    width: 2vmax;
    height: 2vmax;
    margin: 2vmax;
    transition: all 0.3s;
}
.Header>img:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.ChatBox{
    
    height: 80%;
    box-sizing: border-box;
    background-image: url('https://qphs.fs.quoracdn.net/main-qimg-c344af83cd480e9ba8463b1e56125a90-lq');

}
.InputBox{
    border-top:0.2vmax solid black;
    height: 10%;
    box-sizing: border-box;
    display: flex;
}
#ChatInput{
    width:80%;
    border: 0.1px solid rgb(0, 0, 0);
    background-color: rgb(41, 41, 41);
    padding: 2%;
    box-sizing: border-box;
    outline: none;
    color: white;
    font-size: larger;

}
.SendBtn{
    background-color: rgb(103, 240, 61);
    color: white;
    border:none;
    width: 20%;
    transition: all 0.2s;
}
.SendBtn:hover{
    background-color: rgb(88, 230, 45);
    cursor: pointer;
    transform: scale(1.02);
}